<h1>404 Error</h1>
<h2>Something went wrong</h2>
<h4>If error persists please contact support</h4>
<a href="/"><button id="returnHome" class="btn waves-effect waves-light" name="action">
    Return Home
</button></a>