<div class="error">

    <h1>404 Error Page Not Found</h1>
   
    <h4>If error persists please contact support</h4>
    <a href="/"><button id="returnHome" class="btn waves-effect waves-light" name="action">
            Return Home
        </button></a>

</div>