<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
			
	<header>
			
				<h1>App name to be determined</h1>
				
				<div class="support-note"><!-- let's check browser support with modernizr -->
					<!--span class="no-cssanimations">CSS animations are not supported in your browser</span-->
					<span class="no-csstransforms">CSS transforms are not supported in your browser</span>
					<!--span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span-->
					<span class="no-csstransitions">CSS transitions are not supported in your browser</span>
					<span class="note-ie">Sorry, only modern browsers.</span>
				</div>
			</header>

			<div class = "container-fluid">
					<div class="row">
						<div class = "col s3 m4">
								<a class="btn-floating btn-large cyan pulse"><i class="material-icons">shopping_cart</i></a>
						</div>
					</div>
				</div>
			
			<section class="main">
			
				<div id="sb-container" class="sb-container">
					<div>
						<span class="sb-icon icon-bag"></span>
						<h4><span>About Us</span></h4>
						<button id="aboutUs">Check it out</button>
					</div>	
					<div>
						<span class="sb-icon icon-globe"></span>
						<h4><span>Sell Your Items</span></h4>
						<button><a href="/api/post">Sell Your Item</a></button>
					</div>	
					<div>
						<span class="sb-icon icon-picture"></span>
						<h4><span>Cars</span></h4>
						<button><a href="/api/cars">Check It Out</a></button>										
					</div>	
					<div>
						<span class="sb-icon icon-video"></span>
						<h4><span>Books</span></h4>	
						<button><a href="/api/books">Check It Out</button>									
					</div>	
					<div>
						<span class="sb-icon icon-download"></span>
						<h4><span>Sports/Outdoors</span></h4>
						<button><a href="/api/sports">SCheck It Out</a></button>
					</div>	
					<div>
						<span class="sb-icon icon-mobile"></span>
						<h4><span>Electronic</span></h4>
						<button><a href="/api/electronics">Check It Out</a></button>											
					</div>
					<div>
						<span class="sb-icon icon-camera"></span>
						<h4><span>Fashion Wear</span></h4>	
						<button><a href="/api/fashion">Check It Out</a></button>										
					</div>
					<div>
						<span class="sb-toggle">Click to open/close</span>
						<h4><span>Profile</span></h4>
						<button id="userLogin"><a href="/login">Login</a></button>
						<h5>Welcome</h5>											
					</div>
					
					
				</div><!-- sb-container -->
				
			</section>
			
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="./assets/SwatchBook2/js/jquery.swatchbook.js"></script>
		<script type="text/javascript">
			$(function() {
			
				$( '#sb-container' ).swatchbook( {
					// number of degrees that is between each item
					angleInc : 30,
					neighbor : 25,
					// if it should be closed by default
					initclosed : true,
					// index of the element that when clicked, triggers the open/close function
					// by default there is no such element
					closeIdx : 11
				} );
			
			});
		</script>
    </body>
</html>