		<div class="container">

			<header>
				<h1><span>Your Items</h1>
				<h2>Select the Items your would like to purchase</h2>
			</header>
				

			<div class = "container-fluid">
				<div class="row">
					<div class = "col s3 m12">
							<a class="btn-floating btn-large cyan pulse"><i class="material-icons">shopping_cart</i></a>
							<a href="/" class="btn-floating btn-large waves-effect waves-light red homeBtn"><i class="material-icons">arrow_back</i></a>
					</div>
				</div>
			</div>
			
			
			<!-- Below is where there will be cards for the items we want to sell -->
			
			
			<div class="container-fluid">
                <div class="row">
                    	<div class="col s3 m4">
                        	{{#each handlebarsObj}}
                        		<div class="card">
                            		<div class="card-image" id="imageURL">
                                		<img src="{{this.img_url}}" alt="Pic">
										<div class="input-group plus-minus-input">
  											<div class="input-group-button">
    											<button type="button" class="btn-floating halfway-fab waves-effect waves-light red" data-quantity="minus" data-field="quantity">
      												<i class="material-icons" aria-hidden="true">remove</i>
    											</button>
  											</div>
  											<input class="input-group-field" type="number" name="quantity" value="0">
  											<div class="input-group-button">
    											<button type="button" class="btn-floating halfway waves-effect waves-light red" data-quantity="plus" data-field="quantity">
      												<i class="material-icons" aria-hidden="true">add</i>
    											</button>
  											</div>
									</div>
                            		</div>
                            		<div class="card-content">
                                		<span class="card-title" id="itemName">{{this.product_name}}</span>
                                		<p>{{this.description}}</p>
                            		</div>
									<button type="button" class="btn-floating halfway-fab waves-effect waves-light green">
      										<a class="btn tooltipped" data-position="bottom" data-tooltip="Add to cart"><i class="material-icons" aria-hidden="true">shopping_cart</i></a>
    								</button>
                        		</div>
                        	{{/each}}
                    	</div>
				</div>
            </div>
			