

.formHolder {
    width: 100%;
    justify-content: center;
    align-content: center;
}

.titleDiv{
    text-align: center;
}

.wholeForm {
    max-width: 960px;
    margin: auto;
}
.selector{
    display: inline;
}

.formGroup {
    color: black;
}


